:root {
    --color-main: #48426d;
    --color-darker: #373258;
    --color-primary: #edc08c;
    --color-secondary: #9bc4f1;
    --color-text-light: #fcd3bc;
    --color-text-dark: #373258;

    --color-transaction-in: #bcfcc1;
    --color-transaction-out: #fcc0bc;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

code {
    padding: 0.2em 0.4em;
    border-radius: 2px;

    background-color: #f0f0f0;

    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
}
