@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-size: 16px;
  line-height: 1em;
}

@layer base {
  html {
    font-family: "Nunito", "Fredoka", Roboto, system-ui, sans-serif;
  }

  .reset-input {
    @apply bg-transparent outline-transparent focus:outline-none focus:border-none focus:ring-transparent border-none;
  }

  /* Remove arrows from number inputs */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
